
.mrgtop{
    padding-top: 57px;
}

/* 768px */

@media(max-width:768px){
    .mrgtop{
        display: flex;
        justify-content: center;
    }
}

/* 375px */

@media(max-width:768px){
    .mrgtop{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
}
